.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[data-parent] {
  width: 100%;
}

div[data-parent] > div[data-headers] > div[data-child].active {
  color: gray;
}

div[data-parent] > div[data-headers] > div[data-child] {
  border: 1px solid black;
  display: inline;
  margin: 5%;
}

div[data-parent] > div[data-child].active {
  display: block;
}

div[data-parent] > div[data-child] {
  display: none;
  margin: 5%;
}