.App {
  display: flex;
  flex-direction: column;
  background-image: url("./wallhaven-4lydgy.png");
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: transparent;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: 1%;
  text-align: right;
}

.App-content {
  flex: 1;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: 1%;
}

.App-footer {
  background-color: transparent;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: 1%;
}

.App-link {
  color: #61dafb;
}

div[data-parent] {
  width: 100%;
}

div[data-parent] > div[data-headers] > div[data-child].active {
  color: gray;
}

div[data-parent] > div[data-headers] > div[data-child] {
  border: 1px solid black;
  display: inline;
  margin: 5%;
}

div[data-parent] > div[data-child].active {
  display: block;
}

div[data-parent] > div[data-child] {
  display: none;
  margin: 5%;
}