div.social-media-list > ul {
    list-style-type: none;
    padding: initial;
}

div.social-media-list > ul > li {
    display:inline;
    margin: 5px;
}

div.social-media-list > ul > li > a {
    color: inherit;
}

div.social-media-list > ul > li > a > img.game {
    width: 0.875em;
    vertical-align: -0.125em;
}